table {
    margin-top: 2.5vw;
    border-spacing: 0.52083vw;
    width: 100%;
}

table caption {
    font-size: 7vw;
    font-family: 'C&L';
}

table th, table td {
    padding: 0.7vw;
    font-family: 'Baqacents';
}

table tr:last-child td, table tr:last-child th {
    background: initial;
    padding: 0.7vw 0 0 0;
    font-size: 1.5vw;
}

table tr:nth-child(1) > th {
    background: -moz-linear-gradient(#D8D0B9, #B3A595);
}

table tr > th {
    background: -moz-linear-gradient(left, #D8D0B9, #B3A595)
}

table tr:nth-of-type(1) > th:nth-child(1) {
    visibility: hidden;
}

table td {
    text-align: center;
    background-color: #ffe7c6;
}

table td > img {
    vertical-align: middle;
    height: 50px;
}
