#troncal > article {
    font-family: 'Baqacents';
    text-align: justify;
    font-size: 1.1458vw;
}

#troncal > article:first-of-type {
    margin-top: 2.5vw;
}

#troncal > article > header {
    margin-bottom: 0.75vw;
}

#troncal > article > header > img {
    width: 100%;
}

#troncal > article > p {
    margin-bottom: 0.5vw;
}
