/*
            //################################################//
            //#                                              #//
            //#      TRABAJO SEGUNDA EVALUACIÓN LMSXI        #//
            //#                                              #//
            //#      Archivo: gallery.css                    #//
            //#      Autor: Francisco J. Pájaro Rives        #//
            //#      Última modificación: 2015-02-28         #//
            //#                                              #//
            //################################################//
*/

/*
            //////////////////////////////////////////////////
            ESTILOS PARA LAS PÁGINAS DE LA GALERÍA DE IMÁGENES
            //////////////////////////////////////////////////
*/

/*Para conseguir un efecto no tan lineal en la colocación de las imágenes, le doy un position relative.*/

/*Elementos li que contienen tres divs: un marco (para simular bordes redondeados en Chrome (no funcionan bien las transiciones y los bordes redondeados), un faldon (con enlaces para ampliar la imagen y compartirla), y un thumbnail (donde se guarda la imagen en miniatura).*/
.contenedor {
    position: relative; /*para ajustar las imágenes*/
    display: inline-block;
    width: 19.25vw;
    height: 10.83vw; /*aspect ratio de 16:9 en cualquier monitor*/
    overflow: hidden; /*El alto sobrante de las imágenes no se verá (están ajustadas al width).*/
    margin-right: 2.5%;
    margin-top: 5vw;
}

/*Posiciono la 1ª y la 3ª columnas un poquito más hacia arriba que la del medio.*/
.contenedor:nth-of-type(3n+1) {
    bottom: 2vw;
}

.contenedor:nth-of-type(3n) {
    margin-right: 0;
    bottom: 2vw;
}

.marco { /*simula bordes redondeados*/
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/galeria/MarcoThumbnail1.png');
    z-index: 2;
}

/*Elemento faldon con los enlaces.*/
.faldon {
    position: absolute;
    overflow: hidden; /*para que no se vea compartir, que inicialmente está fuera de la caja.*/
    width: 96%;
    height: 94.5%;
    top: 2.75%;
    left: 2%;
    z-index: 3;
}

.ampliar {
    position: absolute;
    display: block;
    bottom: 1%;
    right: 0.5%;
    width: 2.6042vw;
    height: 2.6042vw;
    opacity: 0; /*comienza oculto*/
    background-image: url('../img/galeria/Ampliar1.png');
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
}

.compartir { /*Comienza oculto porque está desplazado a la izquierda y su elemento contenedor tiene un overflow: hidden.*/
    position: absolute;
    top: 21.155%;
    left: -2.34375vw;
    background-color: rgba(200, 200, 200, 0.5);
    width: 2.083vw;
    height: 6.25vw;
    border-radius: 0 0.417vw 0.417vw 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
}

.compartir a {
    position: absolute;
    width: 1.4vw;
    height: 1.4vw;
    background-size: 99%;
    left: 0.3415vw;
}

.compartir li:nth-child(1) a {
    top: 0.825vw;
    background-image: url('../img/galeria/TwitterLogo2.png');
}

.compartir li:nth-child(2) a {
    top: 2.425vw;
    background-image: url('../img/galeria/FacebookLogo1.png');
}

.compartir li:nth-child(3) a {
    top: 4.025vw;
    background-image: url('../img/galeria/TumblrLogo1.png');
}

/*Elemento thumbnail con la imagen en miniatura.*/
.thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.thumbnail img {
    width: 100%; /*Las imágenes tienen altos distintos, pero las partes sobrantes están ocultas*/
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
}

/*
            /////////////////////
            COMPORTAMIENTOS HOVER
            /////////////////////
*/

.contenedor:hover .marco {
    background-color: rgba(0, 0, 0, .7);
    background-image: url('../img/galeria/MarcoThumbnail1b.png'); /*cambio la imagen de fondo para simular un marco de fondo amarillo*/
}

.contenedor:hover .thumbnail img {
    -webkit-transform: scale(1.25) rotate(5deg);
    -moz-transform: scale(1.25) rotate(5deg);
}

.contenedor:hover .ampliar {
    opacity: 1;
}

.contenedor:hover .compartir {
    -webkit-transform: translate(2.34375vw);
    -moz-transform: translate(2.34375vw);
}

.ampliar:hover {
    background-image: url('../img/galeria/Ampliar1b.png');
}

.compartir li:nth-child(1) a:hover {
    background-image: url('../img/galeria/TwitterLogo2b.png');
}

.compartir li:nth-child(2) a:hover {
    background-image: url('../img/galeria/FacebookLogo1b.png');
}

.compartir li:nth-child(3) a:hover {
    background-image: url('../img/galeria/TumblrLogo1b.png');
}
