/*
            //################################################//
            //#                                              #//
            //#      TRABAJO SEGUNDA EVALUACIÓN LMSXI        #//
            //#                                              #//
            //#      Archivo: globalA.css                    #//
            //#      Autor: Francisco J. Pájaro Rives        #//
            //#      Última modificación: 2015-02-28         #//
            //#                                              #//
            //################################################//
*/

            /*FUENTES*/

/*Para la barra de navegación principal.*/
@font-face {
    font-family: 'Euphorigenic';
    src: url('../fuentes/euphorigenic.ttf');
}

/*Para las etiquetas time y textos aparte.*/
@font-face {
    font-family: 'CaviarDreams';
    src: url('../fuentes/CaviarDreams.ttf');
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('../fuentes/CaviarDreams_Bold.ttf');
    font-weight: bold;
}

/*Para los titulares de las noticias.*/
@font-face {
    font-family: 'Roboto';
    src: url('../fuentes/Roboto_Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fuentes/Roboto_Regular.ttf');
    font-weight: bold;
}

/*Para los párrafos de las noticias.*/
@font-face {
    font-family: 'Baqacents';
    src: url('../fuentes/Baqacents_Semibold.ttf');
}

/*Para la primera letra de cada párrafo de las noticias.*/
@font-face {
    font-family: 'Althea';
    src: url('../fuents/Althea.ttf');
}

            /*REGLAS GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

ul, ol, dl {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    color:#000000;
    text-decoration: none;
}

a:visited {
    color:#000000;
}
a:hover {
    color:#000000;
}
a:active {
    color:#000000;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/fondos/RandomPattern1.png');
    background-size: 30px 30px;
    background-position: top left;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

/*Ajusta el color del texto y de fondo cuando se selecciona algo.*/
::-moz-selection {
    background-color: #1d18a5;
    color: #ffd85c;
}

/*Todas las páginas se componen de cuatro elementos principales: un banner, una barra de navegación, una sección troncal, y un pie.*/
/*Utilizo la medida relativa vw (viewport width) porque escala las fuentes y los bordes redondeados para diferentes resoluciones y tamaños de ventana.*/

            /*BANNER*/

body > header {
    width: 70%;
    margin-left: 15%;
}

body > header > img {
    width: 100%;
    margin: 0%;
}

            /*BARRA DE NAVEGACIÓN*/

body > nav {
    float: left;
    margin-left: 15%;
    width: 70%;
    text-align: center;
    font-family: 'Euphorigenic';
    font-size: 1.5vw; /*1em son 16px; 1.25vw son 24px en un ancho de 1920px (mi monitor), 12.8px en un ancho de 1024px (el monitor del proyector).*/
    border-radius: 10px 10px 0 0;
}

/*Opciones principales*/
.opcion {
    position: relative; /*necesito posicionar cada opción con relative para hacer de referencia, porque los submenús están en absolute*/
    float: left;
    width: 20%;
    border-bottom: 1px solid #AAAAAA;
}

.opcion > a {
    display: inline-block; /*quiero que el comportamiento hover afecte a todo el ancho de la opción, no solo al ancho de las letras del enlace.*/
    width: 100%;
    padding: .2em 0;
    border-radius: 10px 10px 0 0;
}

/*Submenús*/
.opcion .submenu {
    position: absolute; /*sale del flujo y se pone justo encima de la opción, solapándola.*/
    width: 100%;
    left: 0%;
    top: 100%; /*pongo cada submenú justo debajo de su opción.*/
    display: none; /*no se muestra hasta que se haga hover sobre opcion...*/
    z-index: 4; /*... y tiene que aparecer por encima del texto de abajo.*/
    background-image: url('../img/fondos/RandomPattern1.png');
    background-position: top left;
    background-repeat: repeat;
    background-size: 30px 30px;
    /*sombra anaranjada*/
    box-shadow: 0px 0px 5px #932e00;
    -webkit-box-shadow: 0px 0px 5px #932e00;
    -moz-box-shadow: 0px 0px 5px #932e00;
}

.opcion .submenu a {
    display: inline-block; /*quiero que ocupen todo el ancho de los li, igual que con las opciones.*/
    width: 100%;
}

/*Comportamientos hover*/
.opcion > a:hover  {
    background-color: #ec4a00;
    color: white;
}

.opcion:hover .submenu {
    display: initial;
}

.opcion .submenu a:hover {
    background-color: #ff8f5c;
    color: white;
}

            /*SECCIÓN TRONCAL*/

body > #troncal {
    float: left;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 3vw;
}

            /*PIE*/

body > footer {
    clear: both; /*despeja cualquier comportamiento float del contenido de la sección troncal.*/
    position: relative; /*hace de refencia a los img con position absolute.*/
    background-color: #D6D6D6;
    font-size: 1vw; /*19.2px en un ancho de 1920;*/
    border-radius: 1vw 1vw 0 0;
    bottom: 0%;
    width: 100%;
    padding: 0.5% 0 1% 0;
    font-family: 'Times New Roman';
}

/*Breadcrumbs (migas de pan, para seguir el rastro de donde estamos).*/
#breadcrumbs {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 0.70vw;
}

#breadcrumbs > li {
    display: inline-block;
    margin-left: -5%;
    padding: 4% 0;
}

#breadcrumbs > li:first-of-type {
    margin-left: 0%;
}

#breadcrumbs > li > a {
    display: inline-block;
    float: left;
}

#breadcrumbs > li > a > img {
    float: left;
    height: 1vw;
}

#breadcrumbs > li > a > span {
    display: inline-block;
    float: left;
    background-color: #B3A595;
    height: 1vw;
    padding: 1% 0 0 0;
}

#breadcrumbs > li:last-of-type > a > span {
    color: white;
    background-color: #000000;
}

/*Menús*/
body > footer > address {
    display: inline-block;
    border-right: 1px solid #AAAAAA;
    padding: 1% 1% 0 1%;
    width: 13%;
    margin-left: 11.5%;
}

body > footer > address > #social {
    font-style: normal;
}

body > footer > dl {
    display: inline-block;
    border-right: 1px solid #AAAAAA;
    padding: 1% 1% 0 1%;
    width: 12.5%;
}

body > footer > dl:last-of-type {
    border: none;
}

/*Opciones*/
body > footer dl > dt {
    font-weight: bold;
}

body > footer dl > dt, body > footer dl > dd {
    margin-bottom: 2%
}

#social > dd > a {
    width: 100%;
    position: relative;
}

/*Hay dos imágenes. La que está por debajo (la que no tiene position absolute) se revela al hacer hover sobre el enlace.*/
#social > dd > a > img {
    position: absolute;
    left: -1.25vw;
    bottom: 0%;
    width: 1.1vw;
}

#social > dd > a:hover > img:nth-child(2) {
    opacity: 0;
}

body > footer dl > dt > a:hover {
    color: #05345f;
}

body > footer dl > dd > a:hover {
    color: #0b5699;
}

/*Imagen decorativa*/
body > footer > img:last-of-type {
    position: absolute;
    right: 2%;
    width: 11%;
    bottom: 0%;
}
