/*

            //################################################//
            //#                                              #//
            //#      TRABAJO SEGUNDA EVALUACIÓN LMSXI        #//
            //#                                              #//
            //#      Archivo: index.css                      #//
            //#      Autor: Francisco J. Pájaro Rives        #//
            //#      Última modificación: 2015-02-28         #//
            //#                                              #//
            //################################################//
*/

            /*NOTICIAS*/

.noticia { /*article dentro de un li*/
    float: left;
    position: relative; /*Tiene que ser relative porque necesito un contenedor para poner el tamaño de los img en porcentaje*/
    width: 23.5%;
    border: 1px solid #AAAAAA;
    text-align: justify;
    margin: 1% 2% 1% 0;
    overflow: hidden;
}

/*Tiene dos imágenes para el comportamiento hover.*/
.noticia > img {
    margin-bottom: 37%;
    vertical-align: bottom;
    width: 100%;
}

.noticia > img:nth-child(2) {
    position: absolute; /*Al ponerla en absolute desaparece del flujo de la página y se pone justo encima de la otra imagen*/
    top: 0%;
    left: 0%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
}

.noticia:hover > img:nth-child(2) {
    opacity: 0;
}

/*La entradilla es un div que engloba la fecha, el titular de la noticia, y un texto introductorio.*/
.noticia > .entradilla {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0%;
    padding: 0 5%;
    background-color: black;
    color: white;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
}

.noticia:hover > .entradilla {
    background-color: #935600;
}

.noticia > .entradilla > time {
    display: block;
    text-align: center;
    font-family: 'CaviarDreams';
    font-weight: bold;
    font-size: 0.75vw; /*14.4px en un ancho de 1920*/
    margin-bottom: 0.6vw;
}

.noticia > .entradilla > h3 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.25vw; /*24px en un ancho de 1920*/
    margin-bottom: 0.4vw;
}

.noticia > .entradilla > p {
    font-family: 'Baqacents';
    font-size: 0.92vw; /*18px en un ancho de 1920*/
}

.noticia > a { /*el enlace abarca todo el elemento article*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

            /*AJUSTES INDIVIDUALES*/

/*Las dos primeras noticias tienen un ancho mayor para reflejar una mayor importancia.*/
#troncal > ul > li:nth-child(1) > .noticia {
    width: 49%;
    margin-right: 2%;
}

#troncal > ul > li:nth-child(2) > .noticia {
    width: 49%;
    margin-right: 2%;
}

/*Con esto le estoy diciendo que todas las imágenes de la derecha de todo (la 2ª, la 6ª, etc.) no tienen ningún margen a la derecha.*/
#troncal > ul > li:nth-child(4n + 2) > .noticia {
    margin-right: 0%;
}
