            /*AJUSTES GENERALES*/

.noticia {
    float: left;
    position: relative;
    width: 23.5%;
    border: 1px solid #AAAAAA;
    text-align: center;
    margin: 1% 2% 1% 0;
    overflow: hidden;
}

    .noticia > img {
        margin-bottom: 30%;
        vertical-align: bottom;
        width: 100%;
    }

    .noticia > img:nth-child(2) {
        top: 0%;
        left: 0%;
        position: absolute;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
    }

    .noticia:hover > img:nth-child(2) {
        opacity: 0;
    }

    .noticia > .entradilla {
        position: absolute;
        width: 100%;
        height: 35%;
        bottom: 0%;
        background-color: black;
        color: white;
        -webkit-transition: background 1s;
        -moz-transition: background 1s;
    }

    .noticia:hover > .entradilla {
        background-color: #935600;
    }

        .noticia > .entradilla > time {
            display: block;
            font-family: 'C&L';
            font-size: .9em;
        }

        .noticia > .entradilla > h3 {
            font-family: 'C&L';
            font-size: 1.5em;
        }

        .noticia > .entradilla > p {
            font-family: 'Baqacents';
            font-size: 1.1em;
        }

    .noticia > a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
    }

            /*AJUSTES INDIVIDUALES*/

body > section > ul > li:nth-child(1) > .noticia {
    width: 49%;
    margin-right: 2%;
}

body > section > ul > li:nth-child(2) > .noticia {
    width: 49%;
    margin-right: 2%;
}

body > section > ul > li:nth-child(4n + 2) > .noticia {
    margin-right: 0%;
}

body > section > ul > li:last-child > .noticia {
    margin-bottom: 5%;
}
