section:nth-of-type(2) {
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 3;
    display: none;
}

#marco {
    position: absolute;
    border: 0.52083vw solid white;
    background-color: black;
    width: 70vw;
    height: 39.375vw; /*aspect ratio siempre de 16:9*/
    top: 10%;
    left: 14.6vw;
    border-radius: 3.125vw;
    overflow: hidden;
}

#marco div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#marco div:nth-child(1) {
    right: 100%;
}

#marco div:nth-child(3) {
    left: 100%;
}

#marco #slideNav1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

#slideNav1 a {
    position: absolute;
    background-size: 98%;
    border-radius: 50%;
    top: 47%;
    width: 2.6042vw;
    height: 2.6042vw;
    opacity: 0;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
}

#slideNav1 a:nth-child(1) {
    left: 3%;
    background-image: url('../img/galeria/Arrow1Left.png');
}

#slideNav1 a:nth-child(2) {
    right: 3%;
    background-image: url('../img/galeria/Arrow1Right.png');
}

#slideNav1 a:nth-child(3) {
    left: 47%;
    top: auto;
    bottom: 3%;
    background-image: url('../img/galeria/PlayButton1.png');
}

#marco #slideNav2 {
    position: absolute;
    right: 6%;
    bottom: 6%;
    width: 20.27039vw;
    height: 8%;
    padding: 0;
    margin: 0;
}

#slideNav2 > a {
    position: absolute;
    opacity: 0;
    background-color: red;
    width: 0.52083vw;
    height: 0.52083vw;
    border-radius: 50%;
    top: 42%;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
}

#slideNav2 > a:nth-child(1) {
    right: 17.81209vw;
}

#slideNav2 > a:nth-child(2) {
    right: 16.35379vw;
}

#slideNav2 > a:nth-child(3) {
    right: 14.89549vw;
}

#slideNav2 > a:nth-child(4) {
    right: 13.43719vw;
}

#slideNav2 > a:nth-child(5) {
    right: 11.97889vw;
}

#slideNav2 > a:nth-child(6) {
    right: 10.52059vw;
}

#slideNav2 > a:nth-child(7) {
    right: 9.06229vw;
}

#slideNav2 > a:nth-child(8) {
    right: 7.60399vw;
}

#slideNav2 > a:nth-child(9) {
    right: 6.14569vw;
}

#slideNav2 > a:nth-child(10) {
    right: 4.68739vw;
}

#slideNav2 > a:nth-child(11) {
    right: 3.22909vw;
}

#slideNav2 > a:nth-child(12) {
    right: 1.77079vw;
}

#slideNav2 div {
    position: absolute;
    margin: 0 0 0 -0.05208vw;
    padding: 0;
    width: 100%;
    height: 100%;
    bottom: 100%;
    list-style-type: none;
}

#slideNav2 div a {
    position: absolute;
    display: none;
    opacity: .7;
    background-size: 110%;
    width: 4.6875vw;
    height: 100%;
    border: 1px solid white;
    border-radius: 0.52083vw;
    padding: 0;
    margin: 0;
}

#slideNav2 div a:nth-child(1) {
    right: 15.75vw;
}

#slideNav2 div a:nth-child(2) {
    right: 14.25vw;
}

#slideNav2 div a:nth-child(3) {
    right: 12.75vw;
}

#slideNav2 div a:nth-child(4) {
    right: 11.25vw;
}

#slideNav2 div a:nth-child(5) {
    right: 9.8vw;
}

#slideNav2 div a:nth-child(6) {
    right: 8.3vw;
}

#slideNav2 div a:nth-child(7) {
    right: 6.85vw;
}

#slideNav2 div a:nth-child(8) {
    right: 5.4vw;
}

#slideNav2 div a:nth-child(9) {
    right: 3.95vw;
}

#slideNav2 div a:nth-child(10) {
    right: 2.6vw;
}

#slideNav2 div a:nth-child(11) {
    right: 1.2vw;
}

#slideNav2 div a:nth-child(12) {
    right: -0.45vw;
}

#marco:hover #slideNav1 a {
    opacity: .2;
}

#marco #slideNav1 a:hover {
    opacity: .5;
}

#marco:hover #slideNav2 > a {
    opacity: 1;
}

#marco #slideNav2 > a:hover {
    border: 1px solid orange;
}

section:nth-of-type(2) > a {
    position: absolute;
    width: 3.125vw;
    height: 3.125vw;
    top: 6%;
    right: 10%;
    opacity: .5;
}

section:nth-of-type(2) > a:hover {
    opacity: 1;
}

section:nth-of-type(2) > a img {
    width: 100%;
    height: 100%;
}

/*ANIMACIONES*/

/*Genéricas*/
@keyframes fromLeftToCenter {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes fromCenterToRight {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@keyframes fromRightToCenter {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes fromCenterToLeft {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}

/*Chrome*/
/*Estás reglas dan error en el validador de CSS porque dice que las keyframes con el prefijo -webkit- no están implementadas todavía. Sin embargo, en w3schools las ponen de ejemplo de animación para Chrome. Por lo tanto, siguiendo los consejos de w3schools he decidido implementarlas para el slider.*/
/*@-webkit-keyframes fromLeftToCenterC {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes fromCenterToRightC {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes fromRightToCenterC {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes fromCenterToLeftC {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}*/
